body{
	font-family: arial, sans-serif;
	background-color: #eeeeee;
}
.main{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 1280px;
	padding:0 20px;
	position: relative;

}
#header{
	display: flex;
	flex-direction: column;
	max-width: 100%;
	/*width: 100%;*/
	align-items: center;
	padding: 15px 20px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	background-color: #eee;
}
.logo{
	display: flex;
}
.logo img{
	width: 100%;
	border-radius: 5px;
	margin-left: 0;
	
}
#nav-link{

	display: flex;
	flex-grow: 1;
	min-height: 80px;
	align-items: center;
}
#nav-link ul{
	text-align: center;
	padding: 0;
	list-style: none;
}
#nav-link ul li{
	display: block; 
	margin-bottom: 20px;
}
#nav-link ul li a{
	text-decoration: none;
	color: #000000;
	font-size: 20px;
}
.form{
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 250px;
	width: 100%;
}
.form form{
	max-width: 430px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.form form input{
	display: block;
}
.form form input:first-child{
	margin-bottom: 20px;
	max-width: 300px;
	background-color: #fff;
	padding: 5px;
	width: 100%;
}
.form form input:last-child{
	margin-bottom: 20px;
	background-color: orange;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 4px;
	padding: 4px 20px;
}

}	
#features{
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#features .card{
	display: flex;
	align-items: center;
}
#features .card .icon{
	max-width: 100px;
	width: 100%;
	color: orange;
	font-size: 50px;
}
#features .card .icon .content{
	flex-grow: 1;
	text-align: center;
}
#How-it-works{
	max-width: 100%;
	margin: 50px auto;
}
#pricing{
	width: 100%;
	display: flex;
	flex-direction: column;
}
#pricing .card{
	margin: 0 auto;
	margin-bottom: 15px;
	border: 1px solid #000;
	max-width: 340px;
	width: 100%;
	border-radius: 4px;
	text-align: center;
}
#pricing .card h2{
	background-color: #ddd;
	color: black;
	padding: 15px 0;
	width: 100%;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
	margin-bottom: 15px;

}
#pricing .card{
	font-size: 21px;
}
#pricing .card button{
	border: 0;
	margin: 15px 0;
	background-color: orange;
	padding: 8px 20px;
	cursor: pointer;
	font-size: 21px;
}
footer{
	padding: 20px;
	margin-top: 30px;
	text-align: center;
	background-color: #ddd;

}
footer > ul li{
	display: inline;
	padding: 1px 5px;
}
footer > ul li a{
	color: #000;
	text-decoration: none;
}
@media(min-width: 550px){
	#features .card .icon{
		display: block;
	}
	#features .card .content{
		text-align: left;
	}
}
@media (min-width: 600px){
	#header{
		flex-direction: row;
		left: 5%;
		right: 5%;
	}
	.head2{
		text-align: center;
	}
	#nav-link ul{
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}
	#nav-link ul li{
		display: inline;
		margin: 50px;
	}
	#nav-link ul li:last-child{
		margin-right: 0;
	}
}
@media(min-width: 800px){
	#pricing {
		flex-direction: row;
		align-self: center;
	}
	#pricing .card:not(last-child){
		margin-right: 15px;
	}
}



